---
layout: null
title: Adam Morgan
description: Every great website starts with a great homepage. The homepage tells your viewers what your site is all about and gives your viewers a place to come back to.
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
              <!-- <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li> -->
              <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									<h2><a href="https://landing.mailerlite.com/webforms/landing/k8s9l8" target="_blank">FREE 8 CHAPTER PREVIEW OF THE ANGULAR TUTORIAL</a></h2>
									<p><i>"The advice and techniques in this book landed me my dream job and literally doubled my salary. Well worth the $99 bucks, so much so that I have been waiting for it to be for sale just to pay the man for the good he has done to my career." -Levi Robertson</i></p>
								</header>
								<a href="https://landing.mailerlite.com/webforms/landing/k8s9l8" class="image main" target="_blank"><img src="images/angular-tutorial-preview.png" alt="" style="display: block; width: 65%; margin: 0 auto;" /></a>
                <p>Learning a front-end framework is hard. "Getting started" tutorials cover the basics but you leave thinking, "Okay, now how do I build something with this?"</p>

                <p>The truth is, <strong>getting started tutorials aren't all that great for beginners</strong>. They're demos to highlight as many features as quickly as possible.</p>

                <p>They're great for showing off what a framework can do. <strong>They aren't so great for teaching you how to build web apps</strong>.</p>

                <p>The end result is a basic application that doesn't mimick what it's like building <strong>real applications as a front-end developer</strong>.</p>

                <p>You'll work with a mocked API and database. Application architecture isn't covered. Automated testing is skipped altogether.</p>

                <p>Trust me, I've been there. But those days are over.</p>

                <p>With The Angular Tutorial, you'll learn <strong>how to build applications using a real API and database</strong>. You'll leverage 3rd party APIs like Zomato, Google Places, and open-source libraries <strong>just as you would in a real job</strong>.</p>

                <p>The Angular Tutorial assumes you have no previous knowledge of the Angular framework. It starts at the very beginning.</p>

                <p>Every piece of code is explained and tested to make you interview ready.</p>

                <p>Ready to get started? 👇</p>
                <ul class="actions fit">
                  <li><a href="http://angulartutorial.org" class="button fit" target="_blank">Buy PDF!</a></li>
                  <li><a href="https://www.amazon.com/Angular-Tutorial-Front-End-Development-Automated/dp/1980891419/ref=la_B07CMC6CL8_1_1?s=books&ie=UTF8&qid=1526926037&sr=1-1" class="button fit" target="_blank">Buy on Amazon!</a></li>
                </ul>
							</article>

						<!-- Posts -->
							<section class="posts">
                {% for post in site.posts limit:3 %}
                {% assign mod3 = forloop.index | modulo: 3 %}
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">Full Story</a></li>
  									</ul>
  								</article>
                  {% if mod3 == 0 %}
                    <article>
                      <header>
                        <h2><a href="#">Learn Angular Today</a></h2>
                      </header>
                      <a href="https://landing.mailerlite.com/webforms/landing/k8s9l8" class="image fit" target="_blank"><img src="/images/angular-tutorial-preview.png" alt="" /></a>
                      <ul class="actions">
                        <li><a href="http://angulartutorial.org" class="button" target="_blank">Buy Now!</a></li>
                      </ul>
                    </article>
                  {% endif %}
                {% endfor %}

							</section>

						<!-- Footer -->
							<footer>
                <ul class="actions">
                  <li><a href="{{ "/blog/" | absolute_url }}" class="button">My Blog</a></li>
                </ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		<!-- Scripts -->
		{% include scripts-main.html %}
    {% include tracking.html %}

	</body>
</html>
