<hr style="border: 0; border-bottom: solid 2px; margin: 3rem 0; border-bottom-color: #212931;">

<article class="post featured featured-bottom">
  <header class="major">
    <h2 style="font-size: 3rem;">Before you go...</h2>
    <h3>Do you want to learn modern web development using the Angular framework?</h3>
    <h3>Stop wasting your time with out of date tutorials.</h3>
    <h3>Stop wasting your time with tutorials with code that doesn't work.</h3>
    <h3>Stop wasting your time with tutorials that don't provide the skills you need to succeed on the job.</h3>
    <div class="box">
      <p><i>"The advice and techniques in this book landed me my dream job and literally doubled my salary. Well worth the $99 bucks, so much so that I have been waiting for it to be for sale just to pay the man for the good he has done to my career." -Levi Robertson</i></p>
    </div>
  </header>

  <a href="https://www.dropbox.com/s/0wrxpt4czhcmqci/the-angular-tutorial-preview.pdf?dl=0" class="image main" target="_blank" style="margin: 2rem auto;"><img src="../images/angular-tutorial-preview.png" alt="" style="display: block; width: 65%; margin: 0 auto;" /></a>
  <h4 style="text-align: center; margin-bottom: 3rem;"><a href="https://www.dropbox.com/s/0wrxpt4czhcmqci/the-angular-tutorial-preview.pdf?dl=0" target="_blank">CLICK HERE FOR A FREE 7 CHAPTER PREVIEW OF THE ANGULAR TUTORIAL</a></h4>
  <p>The Angular Tutorial teaches the Angular framework with an approach that simulates how a front-end developer would use Angular on the job. Many tutorials cut corners on specific concepts or features within a web framework which leave gaps between what is learned and what a developer can expect on the job. In The Angular Tutorial, you’ll be introduced to Angular in a way that’s as “real world” as possible.</p>
  <p>In other books, interacting with a real API and database is often skipped with hard-coded values used as a substitute. Topics such as automated testing are usually skipped entirely. In The Angular Tutorial, you’ll be provided an API that you’ll setup just as you would as a front-end developer in a real job. Throughout the rest of the book you’ll then learn how to read the API’s documentation, creating and deploying a fully tested Angular application that interacts with a real database and API.</p>
  
  <ul class="actions fit">
    <li><a href="http://angulartutorial.org" class="button fit" target="_blank">Buy PDF!</a></li>
    <li><a href="https://www.amazon.com/Angular-Tutorial-Front-End-Development-Automated/dp/1980891419/ref=la_B07CMC6CL8_1_1?s=books&ie=UTF8&qid=1526926037&sr=1-1" class="button fit" target="_blank">Buy on Amazon!</a></li>
  </ul>
</article>