<!-- begin footer -->
<footer class="footer">

  {% if site.data.settings.cover__image %}
    <div class="footer-cover">
      <div class="cover-image">
        <img class="lazy" data-src="{{site.data.settings.cover__image}}" alt="{{site.data.settings.title}}">
      </div>
    </div>
  {% endif %}

  <div class="container">
    <div class="row">
      <div class="col col-12">
        {% include social-link.html %}
        <div class="copyright">&copy; {{site.time | date: '%Y'}}. Built by <a href="https://atom-morgan.github.io/">Adam Morgan</a>.</div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->