<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

<title>{{ page.title }}</title>
<meta name="description" content="{{ page.description }}">

<link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/icon/apple-touch-icon.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/icon/favicon-32x32.png" | absolute_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/icon/favicon-16x16.png" | absolute_url }}">
<link rel="manifest" href="{{ "/assets/icon/manifest.json" | absolute_url }}">
<link rel="mask-icon" href="{{ "/assets/icon/safari-pinned-tab.svg" | absolute_url }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ "/assets/icon/favicon.ico" | absolute_url }}">
<meta name="msapplication-config" content="{{ "/assets/icon/browserconfig.xml" | absolute_url }}">
<meta name="theme-color" content="#ffffff">

<!-- Social Media -->
<meta property="og:title" content="Adam Morgan - Learn web development">
<meta property="og:description" content="Learn web development">
{% if page.image contains '.png' %}
<meta property="og:image" content="{{ 'http://atom-morgan.github.io' | append: page.image }}">
{% elsif page.url contains 'javascript' %}
<meta name="og:image" content="http://atom-morgan.github.io/images/javascript-card.png">
{% else %}
<meta property="og:image" content="http://atom-morgan.github.io/images/card.png">
{% endif %}
<meta property="og:url" content="http://atom-morgan.github.io/">

<meta name="twitter:title" content="Adam Morgan - Learn web development">
<meta name="twitter:description" content="Learn web development">
{% if page.image contains '.png' %}
<meta name="twitter:image" content="{{ 'http://atom-morgan.github.io' | append: page.image }}">
{% elsif page.url contains 'javascript' %}
<meta name="twitter:image" content="http://atom-morgan.github.io/images/javascript-card.png">
{% else %}
<meta name="twitter:image" content="http://atom-morgan.github.io/images/card.png">
{% endif %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="atommorgan">
<meta name="twitter:creator" content="atommorgan">

<!-- CSS -->
<link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}" />
<noscript><link rel="stylesheet" href="{{ "/assets/css/noscript.css" | absolute_url }}" /></noscript>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>