<!-- begin header -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="header__inner">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {%if site.data.settings.logo %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <nav class="main-nav">
          <div class="main-nav__box">

            <div class="nav__icon-close">
              <i class="ion ion-md-close"></i>
            </div>

            <div class="nav__title">Menu</div>

            <ul class="nav__list list-reset">

            {% for item in site.data.settings.menu__settings.menu__items %}
              {% if item.submenu %}
              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle">{{ item.title }} <i class="ion ion-ios-arrow-down arrow-down"></i></span>
                <div class="dropdown-menu">
                  {% for submenu-item in item.submenu %}
                    <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                  {% endfor %}
                </div>
              </li>

              {% else %}
              <li class="nav__item">
                <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
              </li>
              {% endif %}
            {% endfor %}

            <li class="nav__item">
              <a href="{{ site.data.settings.cta__button_url }}" class="nav__link cta-button button button--small" target="_blank">{{ site.data.settings.cta__button__text }}</a>
            </li>

            </ul>
          </div>
        </nav>

        <div class="nav-button">
          <i class="nav__icon nav__icon-menu ion ion-md-menu"></i>
        </div>

      </div>
    </div>
  </div>
</header>
<!-- end header -->