<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">
      <div class="site-branding">
        {% assign logo_img_is_not_empty = site.header.logo_img | is_not_empty %}
        {% if logo_img_is_not_empty %}
        <p class="site-logo">
          <a href="{{ '/' | relative_url }}"><img src="{{ site.header.logo_img | relative_url }}" alt="{{ site.header.title }}" /></a>
        </p>
        {% else %}
        <p class="site-title"><a href='{{ '/' | relative_url }}'>{{ site.header.title }}</a></p>
        {% endif %}
      </div><!-- .site-branding -->
      {% assign has_nav_is_not_empty = site.header.has_nav | is_not_empty %}
      {% if has_nav_is_not_empty %}
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {% for action in site.header.nav_links %}
              {% assign pageUrl = page.url | trim: '/' %}
              {% assign actionUrl = action.url | trim: '/' %}
              <li class="menu-item{% if pageUrl == actionUrl %} current-menu-item{% endif %}{% if action.style != 'link' %} menu-button{% endif %}">
                
                {% include action_link.html action=action %}
              </li>
            {% endfor %}
          </ul><!-- .menu -->
        </div><!-- .site-nav-inside -->
      </nav><!-- .site-navigation -->
      {% endif %}
    </div><!-- .site-header-inside -->
  </div><!-- .inner -->
</header><!-- .site-header -->
