<!-- begin projects -->
<section class="section projects" id="projects">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ site.data.settings.projects__settings.projects__title }}</h2>
              <a class="section__link" href="{{ '/projects' | relative_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
            </div>
            {% if site.data.settings.projects__settings.projects__description %}
              <p class="section__description">{{ site.data.settings.projects__settings.projects__description }}</p>
            {% endif %}
          </div>

          <div class="row">
            {% for project in site.projects reversed limit:6 %}
            <article class="project col col-4 col-d-6 col-t-12">
              <div class="project__content">
                <a href="{{ project.url }}" class="project__image">
                  <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
                </a>
                <div class="project__info">
                  <div class="project__info-wrap">
                    <h3 class="project__title">{{ project.title }}</h3>
                  </div>
                  <div class="project__info-wrap">
                    {% if project.subtitle %}
                      <div class="project__subtitle">{{ project.subtitle }} –</div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end projects -->