<!-- begin blog -->
<section class="section blog">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner animate">
  
        <div class="section__info">
          <div class="section__head">
            <h2 class="section__title">{{ site.data.settings.blog__settings.blog__title }}</h2>
            <a class="section__link" href="{{ '/blog' | relative_url }}">View all <i class="ion ion-md-arrow-forward"></i></a>
          </div>
          {% if site.data.settings.blog__settings.blog__description %}
            <p class="section__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>
  
          <div class="row">
            {% if site.posts.size > 0 %}
              {% for post in site.posts offset:0 limit:3 %}
                {% include article-content.html %}
              {% endfor %}
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end blog -->