---
---

// Font.
$font: (
  primary: ("Karla",sans-serif),
  monospace: (Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace)
);

// Palette.
$palette: (
  charcoal:          #272c30,
  charcoal-light-3:  lighten(#272c30, 3%),
  charcoal-light-7:  lighten(#272c30, 7%),
  charcoal-light-15: lighten(#272c30, 15%),
  charcoal-light-25: lighten(#272c30, 25%),
  charcoal-light-40: lighten(#272c30, 40%),
  charcoal-light-60: lighten(#272c30, 60%),
  charcoal-light-75: lighten(#272c30, 75%),
  charcoal-light-80: lighten(#272c30, 80%),
  charcoal-dark-15:  darken(#272c30, 15%),
  accent:            #d8195e,
  accent-blue:       #0c8aea,
  accent-green:      #0da5b1,
  accent-violet:     #7c43a8,
  accent-yellow:     #ed9700
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/posts-pages";
//@import "imports/post-navigation";
@import "imports/portfolio";
@import "imports/sections";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";
