---
layout: default
title: Blog
description: Everything from personal opinions to technical tutorials.
---
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
        {% if page.description %}
          <p class="page-description">{{ page.description }}</p>
        {% else site.data.settings.blog__settings.blog__description %}
          <p class="page-description">{{ site.data.settings.blog__settings.blog__description }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="container animate">
  <div class="row">
    {% if site.posts.size > 0 %}
      {% for post in paginator.posts offset:0 %}
        {% include article-content.html %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% include pagination.html %}