.about {
  img {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}


@media only screen and (min-width: 640px) {
  .about {
    img {
      display: block;
      width: 60%;
      margin: 0 auto;
    }
  }
}
