/* Pagination */
.pagination {
  margin: 40px 0;

  @media only screen and (max-width: $tablet) {
    margin-top: 32px;
  }
}

.pagination__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__list {
  display: flex;
  font-weight: 800;
  height: 48px;
  padding: 0 20px;
  font-size: 15px;
  line-height: 48px;
  border-radius: 16px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.05);
  color: $text-color;
  background-color: $background-color-alt;
}

.pagination__count {
  display: inline-block;
  padding: 0 16px;
  margin: 0 16px;
  font-size: 14px;
  border-left: 1px solid rgba($text-color, .1);
  border-right: 1px solid rgba($text-color, .1);
  color: $text-color-alt;
}

.pagination__next,
.pagination__prev {
  i {
    font-size: 13px;
  }

  &:hover {
    color: $primary-color;
  }

  &.disabled {
    opacity: 0.3;
    cursor: not-allowed;
    color: inherit;
  }
}

.pagination__next {
  i {
    margin-left: 4px;
  }
}

.pagination__prev {
  i {
    margin-right: 4px;
  }
}
