<!doctype html>
<html lang="en">
    <head>    
        
        <title>{% assign title_is_not_empty = page.title | is_not_empty %}{% if title_is_not_empty %}{{ page.title }} - {% endif %}{{ site.title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="{{ page.excerpt | default: site.description }}"/>

        <!-- Social Media -->
        <meta property="og:title" content="Adam Morgan - Learn web development">
        <meta property="og:description" content="Learn web development">
        {% if page.image contains '.png' %}
        <meta property="og:image" content="{{ 'http://atom-morgan.github.io' | append: page.image }}">
        {% elsif page.url contains 'javascript' %}
        <meta property="og:image" content="http://atom-morgan.github.io/images/javascript-card.png">
        {% else %}
        <meta property="og:image" content="http://atom-morgan.github.io/images/card.png">
        {% endif %}
        <meta property="og:url" content="http://atom-morgan.github.io/">

        <meta name="twitter:title" content="Adam Morgan - Learn web development">
        <meta name="twitter:description" content="Learn web development">
        {% if page.image contains '.png' %}
        <meta name="twitter:image" content="{{ 'http://atom-morgan.github.io' | append: page.image }}">
        {% elsif page.url contains 'javascript' %}
        <meta name="twitter:image" content="http://atom-morgan.github.io/images/javascript-card.png">
        {% else %}
        <meta name="twitter:image" content="http://atom-morgan.github.io/images/card.png">
        {% endif %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="atommorgan">
        <meta name="twitter:creator" content="atommorgan">

        <!-- CSS -->
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
        
    </head>
    <body>
        
        {{ content }}
        <!-- Scripts -->
        <script src="{{ 'assets/js/plugins.js' | relative_url }}"></script>
        <script src="{{ 'assets/js/main.js' | relative_url }}"></script>
        <script async src="https://www.googletagmanager.com/gtag/js?id={{site.analytics-id}}"></script>
        <script>
          if (window.location.host==="atom-morgan.github.io" || window.location.host==="www.atom-morgan.github.io") {
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', '{{site.analytics-id}}');
          }
        </script>
    </body> 
</html>
