<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  {% if site.data.settings.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% if site.data.settings.cover__image %}
    <div class="top-cover">
      <div class="cover-image">
        <img class="lazy" data-src="{{site.data.settings.cover__image}}" alt="{{site.data.settings.title}}">
      </div>
    </div>
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content animate" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include contact-form.html %}

  {% include section-subscribe.html %}

  <div class="top" title="Top"><i class="ion ion-ios-arrow-up"></i></div>

  {% include footer.html %}

  <script src="{{ site.baseurl }}/js/scripts.js"></script>
  <script>
    var itype_text = [{{site.data.settings.mailchimp__settings.mailchimp__text}}];
  </script>
  <script src="{{ site.baseurl }}/js/common.js"></script>
</body>

</html>