---
layout: default
---

<div class="container">
  <div class="post-head">
    {% if page.tags.size >= 1 %}
      <div class="post-tags__box">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}/tag/{{ tag }}" class="post__tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
    <h1 class="post-title">{{ page.title }}</h1>
  </div>
</div>

{% if page.image %}
<div class="container">
  <div class="row">
    <div class="col col-12">
      <div class="post-image">
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- begin post -->
<div class="container">
  <article class="post animate">

    <div class="post__info">
      <div class="post__author">
        <a href="{{site.baseurl}}/about/" class="post__author-image">
          <img class="lazy" data-src="{{site.data.settings.author.avatar}}" alt="{{site.data.settings.author.name}}">
        </a>
        <div class="post__author-info">
          <a href="{{site.baseurl}}/about/" class="post__author-link">{{site.data.settings.author.name}}</a>
          <span class="post__date"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time></span>
        </div>
      </div>
      {%include share.html %}
    </div>

    <div class="post__content">
      {{ content }}
    </div>

    {% include post-navigation.html %}

  </article>
</div>
<!-- end post -->

{% include related-posts.html %}

{% if site.data.settings.disqus-identifier %}
  {% include disqus-comments.html %} 
{% endif %}