---
layout: default
---

<div class="container">

  <div class="page-head">
    <h1 class="page-title">{{ page.title }}</h1>
    {% if page.subtitle %}
      <p class="project-subtitle">{{ page.subtitle }}</p>
    {% endif %}
  </div>

  {% if page.image %}
  <div class="row">
    <div class="col col-12">
      <div class="page-image">
        <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}">
      </div>
    </div>
  </div>
  {% endif %}

  <div class="project-content">
    {{ content }}
  </div>
  
  {% if page.previous.url %}
  <div class="project__navigation">
    <a class="project__prev" href="{{page.previous.url}}">
      <div class="project__box">
        <span class="project__nav__info">Next Project</span>
        <h2 class="project__nav__title">{{page.previous.title}}<i class="ion ion-md-arrow-round-forward arrow-right"></i></h2>
      </div>
    </a>
  </div>
  {% endif %}

</div>

